
.Menu
    min-height: 100vh
    background: var(--white-color)
    max-width: max-content
    padding: 20px
    transition: all .3s
    border-top-right-radius: 15px
    &__user
        margin-top: 22px
    &__burger
        cursor: pointer
    &__item
        margin-top: 34px
.logo
    margin: 25px auto
    display: block

@media (max-width: 900px) 
    .Menu
        transform: translateX(-100%)
        position: absolute
        max-width: 100%
        width: 100%
        z-index: 200
        &.open
            transform: translateX(0%)

